:root{
    --background: #000000;
    --white: #ffffff;
    --text-gradient-bg: rgb(27,24,80);
    --text-gradient-1: linear-gradient(90deg, rgba(27,24,80,1) 0%, rgba(44,44,98,1) 31%, rgba(99,19,52,1) 71%, rgba(133,6,16,1) 100%);
}