.topfold{
    height: 92vh;
    overflow: hidden;
}

.tf-left{
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-right: 48px;
}

.tf-heading{
    font-size: 72px;
    font-weight: 600;
    line-height: 72px;
}

.tf-description{
    font-size: 20px;
    margin: 24px 0px;
}

.tf-left-btns{
    margin-top: 36px;
    display: flex;
}

.tf-left-secondary-btn{
    margin-left: 20px;
}

.tf-left-infoStats{
    display: flex;
    padding: 48px 0px 0px;
}

.tf-left-infoItem{
    margin-right: 20px;
    flex-direction: column;
}

.tf-infoItem-count{
    font-size: 36px;
    font-weight: 600;
}

.tf-infoItem-label{
    font-size: 20px;
    font-weight: 600;
    margin-top: 10px;
}

.tf-right{
    display: flex;
    flex: 1;
    position: relative;
}

.tf-right-diamond{
    display: flex;
    flex-wrap: wrap;
    transform: rotate(45deg);
}

.tf-r-diamond-item{
    height: 280px;
    width: 280px;
    overflow: hidden;
    margin: 6px;
    transform: rotate(-45deg);
    cursor: pointer;
    border: 3px solid white;
    border-radius: 12px;
}

.tf-r-diamond-item img{
    height: 400px;
    object-fit: contain;
    display: block;
}

.tf-r-bg-blob{
    height: 430px;
    width: 430px;
    background-color: aqua;
    filter: blur(168px);
    position: absolute;
    z-index: -99;
    left: 15%;
    top: 8%;
    transform: translateY(0%);
    
}